bazel*
cscope.*
*.swp
*.sublime-project
*.sublime-workspace
*.pyc
imgui.ini
.dazel_run
venv/
.clangd/

# Local setups
**/_isaac_sim

# Build files
*build
*install
*log

# Protofiles
*.pb*

# Data files
*.pkl
*.pqt
*.mp4
*.zip


#Jupter notebook
*.ipynb_checkpoints/

# Python egg metadata
*.egg-info/
*.egg-info/*
*.egg
dist/
build/

# exclude json files in datasets folder, in all levels
datasets/**/*.json

# everything in outputs folder
outputs/**

# nohup.out files
nohup.out

# wandb files
wandb/

