bazel*
cscope.*
*.swp
*.sublime-project
*.sublime-workspace
*.pyc
imgui.ini
.dazel_run
venv/
.clangd/

# Local setups
**/_isaac_sim

# Build files
*build
*install
*log

# Protofiles
*.pb*

# Data files
*.pkl

#Jupter notebook
*.ipynb_checkpoints/
